html {
  text-size-adjust: 100%;
}

body {
  font: 1rem / 1.4 sans-serif;
  margin: 1.5em;
}

div {
  max-width: 32em;
}

div:not(:last-child) {
  margin: 0 0 1.5em 0;
}

div::after {
  color: #03f;
  content: attr(data-rem) 'rem, ' attr(data-px) 'px';
  display: block;
}
